<!DOCTYPE html>
<html lang="en">

<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/style/post.css">
</head>

<body style="background-color: #eee;">
    <div class="bg-main" style="height:3px;"></div>
    <div class="container p-0">
        <%- partial('_partial/static-nav') %>
        <div class="row mt-4">
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="article p-4">
                    <div class="article-title">
                        <h1 class="d-flex align-items-center m-0">
                            <div class="mr-2" style="font-size: 25px;"><%- page.title %></div>
                            <% page.tags.forEach(function(tag){ %>
                            <a href="<%- url_for(tag.path) %>" class="tagcloud tagcloud-main ml-4">
                                <%- tag.name %>
                            </a>
                            <% }); %>
                            <div style="font-size:16px" class="ml-3">
                                <span class="iconfont icon-calendar mr-1"></span>
                                <span class="text-main mr-1">
                                    <%- date(page.date, 'YYYY/MM/DD HH:ss') %>
                                </span>
                            </div>
                            <div style="font-size:16px">
                                <span class="iconfont icon-discount"></span>
                                <% page.categories.forEach(function(categorie){ %>
                                <a href="<%- url_for(categorie.path) %>" class="mr-2 text-main">
                                    <%- categorie.name %>
                                </a>
                                <% }); %>
                            </div>
                        </h1>
                        <hr>
                    </div>
                    <div class="article-content">
                        <div style="font-size: 16px;font-family:Microsoft YaHei;font-weight: 300">
                            <blockquote><%- page.excerpt %></blockquote>
                            <%- page.more %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-12">
                <div class="page-index">
                    <div class="overlay py-1">
                        <%- toc(page.content) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <%- partial('_partial/footer') %>
        </div>
    </div>
</body>

</html>